*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .container{
    width:55%;
    height:40%;
    background-color: #fff;
    padding: 44px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    position: relative;
    right:250px;
  }
  .content{
    width:90%;
    height:65%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    position: relative;
    right:-8%;
  }
  .container .num1{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .num1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .calibre{
    background-color: #9b59b6;
    color: white;
    font-size: 15px;
    border: solid #9b59b6;
    border-radius: 5px;
    position: relative;
    left:-8%;
    height:30px;
  }
 .submit{
    color: white;
    font-size: 20px;
    background-color: #9b59b6;
    border: solid #9b59b6;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
    position: relative;
    left:20%;
    top:2px;
    height: 30px;
  }
  #r1{
    position: relative;
    right:57%;
    top:130px;
    border: solid #71b7e6;
    background-color: #71b7e6;
    border-radius: 5px;
    height: 30px;
    
  }
  #r2{
    position: relative;
    right:50%;
    top:50px;
    border: solid #71b7e6;
    background-color: #71b7e6;
    border-radius: 5px;
    height: 30px;
    
  }
  #r3{
    position: relative;
    right:55%;
    top:-5px;
    border: solid #71b7e6;
    background-color: #71b7e6;
    border-radius: 5px;
    height: 30px;
    
  }
  #r4{
    position: relative;
    right:45%;
    top:2px;
    border: solid #71b7e6;
    background-color: #71b7e6;
    border-radius: 5px;
    height: 30px;
    
  }
  #r5{
    position: relative;
    right:59.5%;
    top:110px;
    border: solid #71b7e6;
    background-color: #71b7e6;
    border-radius: 5px;
    height: 30px;
  } 
    #r6{
      position: relative;
      right:66.5%;
      top:50px;
      border: solid #71b7e6;
      background-color: #71b7e6;
      border-radius: 5px;
      height: 30px;
    } 