*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 500px 400px;
    grid-template-areas: 
     " . mid .";
     
    
}

.form {
    display: grid;
    width:40%;
    grid-area:mid;
    position: relative;
    top:500px;
    padding:40px;
    left:300px;
    
    
}
#table{
    display: grid;
    grid-area:mid;
    position: relative;
    bottom: 200px;
    padding: 0;
    margin:0;
}
.form input{
    height:30px;
  
}
#btn{
    width:40%;
    position: relative;
    left:110px;

}
.edit{
    display: grid;
    width:100%;
    grid-area:mid;
    position: relative;
    top:100px;
    padding:40px;
    left:20px;
    
}
#update{
    position: relative;
    left: 220px;
    width: 50%;
}
.upbtn{
    text-decoration:solid;
    border: solid blue;
    background-color:blue;
    border-radius:5px;
    width:70px;
    height: 35px;
    }

    img{
        
        position: relative;
        top: 220px;
        left:850px;
        width: 70px;
        height: 55px;
    } #img_div:after{
        content: "";
        display: block;
        clear: both;
{